In [3]:
import pandas as pd

# EDA

In [26]:
GDP_df = pd.read_csv("data/GDP.csv")
mortality_df= pd.read_csv("data/LifeExpectancy.csv")

In [33]:
GDP_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    225 non-null    object
 1   Series Code    225 non-null    object
 2   Country Name   225 non-null    object
 3   Country Code   225 non-null    object
 4   1990 [YR1990]  225 non-null    object
 5   2000 [YR2000]  225 non-null    object
 6   2012 [YR2012]  225 non-null    object
 7   2013 [YR2013]  225 non-null    object
 8   2014 [YR2014]  225 non-null    object
 9   2015 [YR2015]  225 non-null    object
 10  2016 [YR2016]  225 non-null    object
 11  2017 [YR2017]  225 non-null    object
 12  2018 [YR2018]  225 non-null    object
 13  2019 [YR2019]  225 non-null    object
 14  2020 [YR2020]  225 non-null    object
 15  2021 [YR2021]  225 non-null    object
dtypes: object(16)
memory usage: 28.3+ KB

In [36]:
#Drop years before 2012 until 2015
GDP_df = GDP_df.drop(["Series Code" , "Country Code" , "1990 [YR1990]" , "2000 [YR2000]", "2016 [YR2016]" ,  "2017 [YR2017]" , "2018 [YR2018]", "2019 [YR2019]", "2020 [YR2020]" , "2021 [YR2021]"   ] , axis=1)

In [37]:
GDP_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   225 non-null    object
 1   2012 [YR2012]  225 non-null    object
 2   2013 [YR2013]  225 non-null    object
 3   2014 [YR2014]  225 non-null    object
 4   2015 [YR2015]  225 non-null    object
dtypes: object(5)
memory usage: 8.9+ KB

In [59]:
#Rename to join aftwerwards
GDP_df = GDP_df.rename(columns={"2012 [YR2012]" : "2012", "2013 [YR2013]" : "2013" ,"2014 [YR2014]" : "2014" , "2015 [YR2015]" : "2015"})

In [60]:
mortality_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 742 entries, 0 to 2925
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          742 non-null    object
 1   Year                             742 non-null    int64
 2   Status                           742 non-null    object
 3   Life expectancy (men)            742 non-null    int64
 4   Life expectancy(women)           742 non-null    int64
 5   Adult Mortality (men)            742 non-null    int64
 6   Adult Mortality (women)          742 non-null    int64
 7   Infant deaths                    742 non-null    int64
 8   Alcohol                          561 non-null    float64
 9   Percentage expenditure           742 non-null    float64
 10  Hepatitis B(men)                 742 non-null    int64
 11  Hepatitis B(women)               742 non-null    int64
 12  Measles                          742 non-null    int64
 13  BMI                              732 non-null    float64
 14  Under-five deaths                742 non-null    int64
 15  Polio                            742 non-null    float64
 16  Total expenditure                555 non-null    float64
 17  Diphtheria                       742 non-null    float64
 18  HIV/AIDS                         742 non-null    float64
 19  GDP                              623 non-null    float64
 20  Population                       570 non-null    float64
 21  thinness  1-19 years             732 non-null    float64
 22  thinness 5-9 years               732 non-null    float64
 23  Income composition of resources  695 non-null    float64
 24  Schooling                        699 non-null    float64
dtypes: float64(13), int64(10), object(2)
memory usage: 150.7+ KB

In [62]:
#match years with GDP.csv
mortality_df = mortality_df[(mortality_df["Year"] >= 2012) & (mortality_df["Year"]  <= 2015)]